# Python
__pycache__/
*.py[cod]
*.pyc
venv/
.env
.env.*
mlruns/
models/
*.sqlite3

# Node
node_modules/
npm-debug.log*
yarn-error.log
package-lock.json

# Next.js
.next/
out/
dist/

# VSCode/IDE
.vscode/
.idea/

# Mac
.DS_Store

# Logs
logs/
*.log

# Docker
docker-compose.override.yml
.env.local
backend/db/seed/*secret*.sql
